# Rename this file to ether 'dev.auto.tfvars' or 'prod.auto.tfvars'

do_config = {
  # Required parameters
  api_token        = "do_secret_api_token"
  pub_ssh_key_file = "path/to/ssh_key.pub"

  # Optional parameters
  # region = "blr1"
  # size   = "s-1vcpu-1gb"
  # image  = "ubuntu-25-04-x64"
}

# Note: you either need to have pre-authenticated az cli tool or exported ENVs to continue
az_config = {
  # Required parameters
  subscription_id  = "azure_subscription_id"
  pub_ssh_key_file = "path/to/ssh_key.pub"

  # Optional parameters
  # region           = "region_name"
  # size             = "instance_type_&_size"
}

cf_config = {
  # Required parameters
  api_token = "cf_secret_api_token"
  zone_id   = "cf_zone_id_of_domain"

  # Optional parameters
  # is_dev = true
}

# Post provisioning SSH port (should be kept secret)
ssh_port = "2222"
