- name: Enable nftables service
  systemd:
    name: nftables
    enabled: yes
    state: started
    daemon_reload: yes

- name: Ensure obscured directory exists
  no_log: true
  file:
    path: "{{ obscured_dir }}"
    state: directory
    mode: '0755'
    owner: root
    group: root

- name: Copy deploy script
  no_log: true
  copy:
    src: "files/deploy.sh"
    dest: "{{ obscured_dir }}/deploy.sh"
    mode: '0755'
    owner: root
    group: root

- name: Copy rbash.sh script
  no_log: true
  copy:
    src: "files/rbash.sh"
    dest: "{{ obscured_dir }}/rbash.sh"
    mode: '0755'
    owner: root
    group: root

- name: Create a non-privileged user group
  group:
    name: "{{ deploy_group }}"
    state: present

- name: Ensure users exist
  user:
    name: "{{ item.name }}"
    shell: "{{ item.shell }}"
    groups: "{{ item.groups }}"
    password: "{{ item.password }}"
    append: yes
    create_home: yes
  loop:
    - { name: "{{ admin_user }}", groups: "sudo", shell: "/bin/bash", password: "{{ admin_pwd | password_hash(hashtype='sha512') }}" }
    - { name: "{{ deploy_user }}", groups: "{{ deploy_group }}", shell: "{{ obscured_dir }}/rbash.sh", password: "{{ deploy_pwd | password_hash(hashtype='sha512') }}" }

- name: Ensure subuid & subgid mapping exists
  lineinfile:
    path: "{{ item }}"
    line: "{{ deploy_user }}:100000:65536"
    create: yes
    state: present
  loop:
    - /etc/subuid
    - /etc/subgid

- name: Enable linger for deploy user
  command: loginctl enable-linger {{ deploy_user }}

- name: Configure sudoers for restricted access
  copy:
    dest: "/etc/sudoers.d/{{ deploy_group }}"
    owner: root
    group: root
    mode: '0440'
    content: |
      # Sudoers configuration for {{ deploy_group }}

      # Allow specific binaries with NOPASSWD
      %{{ deploy_group }} ALL=(ALL) NOPASSWD: /usr/bin/tee /etc/nginx/conf.d/active_color.conf, /usr/sbin/nginx -s reload, /usr/sbin/usermod --shell {{ obscured_dir }}/rbash.sh {{ deploy_user }}

      # Prevent privilege escalation
      Defaults:{{ deploy_group }} !visiblepw
      Defaults:{{ deploy_group }} always_set_home
      Defaults:{{ deploy_group }} match_group_by_gid
      Defaults:{{ deploy_group }} always_query_group_plugin
      Defaults:{{ deploy_group }} env_reset
      Defaults:{{ deploy_group }} secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

- name: Ensure restricted directories exist
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: '0755'
  loop: "{{ restricted_dirs }}"

- name: Remove access to sensitive directories
  acl:
    path: "{{ item }}"
    entity: "{{ deploy_group }}"
    etype: group
    permissions: "---"
    recursive: yes
    state: present
  loop: "{{ restricted_dirs }}"

- name: Disable SSH for current user
  file:
    path: /home/{{ ansible_user }}/.ssh/authorized_keys
    state: absent
  when: ansible_user is defined
  ignore_errors: yes

- name: Set ssh keys for users
  no_log: true
  authorized_key:
    user: "{{ item.user }}"
    state: present
    key: "{{ item.key }}"
  loop:
    - { user: "{{ admin_user }}", key: "{{ lookup('file', 'admin.pub') }}" }
    - { user: "{{ deploy_user }}", key: "{{ lookup('file', 'deploy.pub') }}" }

- name: Apply strict ssh configuration
  copy:
    dest: /etc/ssh/sshd_config.d/00-strict.conf
    owner: root
    group: root
    mode: '0600'
    content: |
      Port {{ sec_ssh_port }}
      Protocol 2
      PermitRootLogin no
      PasswordAuthentication no
      ChallengeResponseAuthentication no
      KbdInteractiveAuthentication no
      PermitEmptyPasswords no
      PubkeyAuthentication yes

      X11Forwarding no
      AllowTcpForwarding no
      PermitTunnel no

      LoginGraceTime 20
      MaxAuthTries 3
      MaxSessions 5

- name: Restart SSH service
  service:
    name: ssh
    state: restarted

- name: Ensure wheel group exists
  ansible.builtin.group:
    name: wheel
    state: present

- name: Add admin user to wheel group
  ansible.builtin.user:
    name: "{{ admin_user }}"
    groups: wheel
    append: yes

- name: Ensure pam_wheel for su is enforced
  ansible.builtin.lineinfile:
    path: /etc/pam.d/su
    create: false
    backrefs: true
    regexp: '^\s*#?\s*auth\s+(required|sufficient)\s+pam_wheel\.so.*$'
    line: "auth required pam_wheel.so use_uid"
