- name: Ensure persistent storage directory exists
  file:
    path: "{{ valkey_data_dir }}"
    state: directory
    mode: '0755' # ToDo: Restrict permissions to UID: 999
    owner: root
    group: root

- name: Copy Valkey configuration file
  copy:
    dest: "{{ valkey_data_dir }}/valkey.conf"
    owner: root
    group: root
    mode: '0644'
    content: |
      # Logging
      loglevel notice
      logfile /data/valkey.log

      # Persistence
      save 60 1
      dir /data
      appendonly yes
      appendfilename "appendonly.aof"

- name: Create Valkey container
  containers.podman.podman_container:
    name: "{{ valkey_container_name }}"
    image: "{{ valkey_image }}"
    state: created
    command: valkey-server /data/valkey.conf
    restart_policy: on-failure
    volumes:
      - "{{ valkey_data_dir }}:/data:Z"
    ports:
      - "6379:6379" # Exposed on host for access within containers
    memory: "{{ valkey_memory_limit }}"
    cpus: "{{ valkey_cpu_limit }}"
    conmon_pidfile: "/run/{{ valkey_container_name }}.pid"
    generate_systemd:
      after:
        - network-online.target
      wants:
        - network-online.target
      path: /etc/systemd/system
      restart_policy: always
      new: true

- name: Enable and Start Valkey service
  systemd:
    name: "container-{{ valkey_container_name }}"
    enabled: true
    state: started
    daemon_reload: true

- name: Setup log rotation for Valkey
  copy:
    dest: /etc/logrotate.d/valkey
    owner: root
    group: root
    mode: '0644'
    content: |
      {{ valkey_data_dir }}/valkey.log {
          weekly
          rotate 4
          missingok
          notifempty
          compress
          delaycompress
          copytruncate
      }

- name: Enable memory overcommit for Valkey
  sysctl:
    name: vm.overcommit_memory
    value: '1'
    state: present
    reload: yes
