#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  set cloudflare_v4 {
    type ipv4_addr;
    flags interval;
    elements = { {{ cf_ipv4 | join(', ') }} };
  }

  set cloudflare_v6 {
    type ipv6_addr;
    flags interval;
    elements = { {{ cf_ipv6 | join(', ') }} };
  }

  chain input {
    type filter hook input priority 0;
    iif lo accept # Allow loopback

    # Allow established/related
    ct state established,related accept

    # Allow SSH from anywhere
    tcp dport 6824 accept

    # Allow Cloudflare HTTP/HTTPS
    ip saddr @cloudflare_v4 tcp dport { 80, 443 } accept
    ip6 saddr @cloudflare_v6 tcp dport { 80, 443 } accept

    # Log dropped packets before dropping in limited rate
    limit rate 5/minute burst 5 packets log prefix "nftables-dropped: " level info
    counter drop
  }
}
