- name: Provision Complete Stack
  hosts: all
  become: true
  ignore_unreachable: yes
  vars:
    ansible_become_password: "{{ admin_pwd | default('') }}"

  tasks:
    - import_tasks: tasks/01-warmup.yml
    - import_tasks: tasks/02-podman.yml
    - import_tasks: tasks/03-security.yml
    - import_tasks: tasks/04-nginx.yml
    - import_tasks: tasks/05-opa.yml
    - import_tasks: tasks/06-valkey.yml
    - import_tasks: tasks/07-datadog.yml

    - name: Reboot and Wait
      block:
        - name: Reboot the hosts
          reboot:
            reboot_timeout: 10
          ignore_errors: yes

        - name: Pause for reboot to take effect
          pause:
            seconds: 20
